server:
  port: 8081

spring:
  application:
    name: murder-auth
  redis:
    host: localhost
    port: 6379
    database: 5
    timeout: 3000ms
    lettuce:
      pool:
        max-active: 8
        max-idle: 8
        min-idle: 0
        max-wait: -1ms
  cloud:
    compatibility-verifier:
      enabled: false
    nacos:
      discovery:
        enabled: true
        server-addr: localhost:8848
      config:
        enabled: false
        server-addr: localhost:8848
        file-extension: yml
        import-check:
          enabled: false

# JWT配置，需要启用 @EnableConfigurationProperties
murder:
  jwt:
    user-secret-key: murder-user-secret-key-2024
    user-ttl: 7200000
    user-token-name: token
    admin-secret-key: murder-admin-secret-key-2024
    admin-ttl: 7200000
    admin-token-name: admin-token

# Knife4j配置
springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
knife4j:
  enable: true
  setting:
    language: zh_cn

logging:
  level:
    com.murder.auth: debug
  pattern:
    console: '%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{50} - %msg%n'
